<body>
  <div class="container">
    <h2> Item Name</h2>
    <table>
      <tr>
        <td style="width: 200px;"> <b>Name: </b></td>
        <td> name </td>
      </tr>
      <tr>
        <td> <b>Asking Price: </b></td>
        <td> price </td>
      </tr>
      <tr>
        <td> <b>Under Negotiation: </b></td>
        <td> yes/no </td>
      </tr>
      <tr>
        <td> <b>Seller: </b></td>
        <td> name should be a link to the sellers user page to view contact info </td>
      </tr>
      <tr>
        <td> <b>Niche Markets: </b></td>
        <td> Ex History or SciFi </td>
      </tr>
      <tr>
        <td> <b>Tags: </b></td>
        <td> relevant tags to assist with search for relevance </td>
      </tr>
      <tr>
        <td> <b>Description: </b></td>
        <td> description </td>
      </tr>
      <tr>
        <td> <b>Dimensions: </b></td>
        <td> dimensions </td>
      </tr>
      <tr>
        <td> <b>Condition / Age:  </b></td>
        <td> condition/age </td>
      </tr>
      <tr>
        <td> <b>Other Information: </b></td>
        <td> description </td>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
      </tr>
      <tr>
        <td><button class="editButton btn btn-primary" type="button" >Navigate Somewhere?</button> </td>
        <td> </td>
      </tr>
    </table>
  </div>
</body>